/* Estilos para las casillas */
.casilla-blanca {
  background-color: white;
}

.casilla-negra {
  background-color: black;
  color: white;
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;
}
td {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
}

/* Estilo imagen */
.EstiloImagen {
  width: 120px;
  height: 180px;
}

.posicion-valida {
  background-color: #00FF00;
}